body{
 /*   height: 100%;
    background-image: !*linear-gradient(to bottom, transparent 10%, rgba(13, 110, 253, 0.4) 100%),*! url(https://miro.medium.com/max/1021/1*dQuD6TxbKMrkSABsi8n7qg.jpeg);
    background-repeat: no-repeat;
    background-position: top;
*/
}